<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CVE Classification</title>
    <meta name="description" content="A small UI to classify CVE vulnerabilities">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/cves/css/normalize.css">
    <link rel="stylesheet" href="/static/cves/css/main.css">
    <script src="/static/cves/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div id="content-container">
      {% if user.is_authenticated %}
      <div class="header">
        <div class="user-menu">
          Hi, {{ user.username }}.
          <a href="{% url 'logout' %}">logout</a>
        </div>
      </div>
      {% endif %}

      {% block content %}
      <h2>Welcome</h2>
      <p>Welcome to the CVE annotation site.</p>
      <p>Why not start by <a href="{% url 'random_cve' %}">annotating a CVE?</a></p>
      {% endblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/cves/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/static/cves/js/plugins.js"></script>
    <script src="/static/cves/js/main.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
